#above-container {
  margin-top: 25px;
}

#search-box, #search-label {
  font-size: 18px;
}

#search-result a {
  text-decoration: none;
}

#patient_details #patient_name {
  font-size: 22px;
}

#patient_details {
  font-size: 18px;
  font-weight: normal;
}
