{% extends 'layout.html' %}

{% block page_name %}Analyzes{% endblock %}

{% block body_header %}
  {% include 'analyzes_body_header.html' %}
{% endblock %}

{% block body_content %}
<div class="row">

  <div class="offset-2 col-6">
    <form class="" action="{{ url_for('get_analyzes_by_page', page=1) }}" method="GET">
      <div class="input-group ">
        <input type="text" name='str' class="form-control form-control-sm col-6" placeholder="Search by Patient Name or Personal ID..." value="{%- if request.args.get('str') %}{{ request.args.get('str') }}{% endif %}">

        <span class="input-group-btn">
          <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-search" aria-hidden="true">Search</span>
          </button>
        </span>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input"
                type="checkbox"
                name="not_approved_yet"
                "
                {% if not_approved_yet %}
                  checked
                {% endif %}
                ">
                Not-Approved-Yet
        </label>
      </div>
    </form>
  </div>

  <div class="col-2">
    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-sm justify-content-end">
        {% if analyzes.has_prev %}
          <li class="page-item">
            <a class="page-link"
                href="{% if request.args.get("str") %}
                        {{ url_for('get_analyzes_by_page', page=analyzes.prev_num, str=request.args.get('str')) }}
                      {% else %}
                        {{ url_for('get_analyzes_by_page', page=analyzes.prev_num) }}
                      {% endif %}
                      "
                aria-label="Previous">
              Previous
            </a>
          </li>

        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>

        {% endif %}

        <li class="page-item active">
          <span class="page-link">
            {{ page }}
            <span class="sr-only">(current)</span>
          </span>
        </li>

        {% if analyzes.has_next %}
          <li class="page-item">
            <a class="page-link"
                href="{% if request.args.get("str") %}
                        {{ url_for('get_analyzes_by_page', page=analyzes.next_num, str=request.args.get('str')) }}
                      {% else %}
                        {{ url_for('get_analyzes_by_page', page=analyzes.next_num) }}
                      {% endif %}
                      "
                aria-label="Next">
                Next
            </a>
          </li>

        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>

        {% endif %}

      </ul>
    </nav>
  </div>
</div>

<div class="offset-1 col-10">
  <hr>
</div>

<div class="row">
  <div class="offset-1 col-10">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th width="2%">ID</th>
          <th width="2%">Type</th>
          <th width="25%">Patient</th>
          <th width="15%"></th>
          <th width="25%">Approved By</th>

          <th width="30%">Action</th>
        </tr>
      </thead>
      <tbody>
      {% for analysis in analyzes.items %}
        <tr {% if not analysis.cbc_approved %} class="table-info" {% endif %}>
          <td>{{ analysis.cbc_id }}</td>
          <td>CBC</td>

          <td>
            <a href="{{ url_for('get_patient_personal_profile', patient_id=analysis.patient_id) }}">{{ analysis.patient_name.title() }}</a>
          </td>

          <td>
            {{ analysis.patient_personal_id }}
          </td>

          {% if analysis.cbc_approved %}
            <td>{{ analysis.cbc_comment_doctor.title() }}</td>
          {% else %}
            <td></td>
          {% endif %}


          {% if analysis.cbc_approved %}
            <td>
              <span hidden
                    data-cbc-id="{{analysis.cbc_id}}"
                    data-cbc-wcb="{{analysis.cbc_wcb}}"
                    data-cbc-hgb="{{analysis.cbc_hgb}}"
                    data-cbc-mcv="{{analysis.cbc_mcv}}"
                    data-cbc-mch="{{analysis.cbc_mch}}"
                    data-cbc-comment="{{analysis.cbc_comment}}"
                    data-cbc-comment-doctor="{{analysis.cbc_comment_doctor}}"
                    data-cbc-approved="{{analysis.cbc_approved}}"
                    data-cbc-approved-at="{{analysis.cbc_approved_at.strftime("%Y-%m-%d")}}"
                    data-analysis-data
              ></span>
              <a href="{{ url_for('medical_profile', patient_id=analysis.patient_id) }}">
                Med Profile
              </a>
              |
              <a href="#"
                  data-cbc-id="{{analysis.cbc_id}}"
                  data-cbc-wcb="{{analysis.cbc_wcb}}"
                  data-cbc-hgb="{{analysis.cbc_hgb}}"
                  data-cbc-mcv="{{analysis.cbc_mcv}}"
                  data-cbc-mch="{{analysis.cbc_mch}}"
                  data-cbc-comment="{{analysis.cbc_comment}}"
                  data-cbc-comment-doctor="{{analysis.cbc_comment_doctor}}"
                  data-cbc-approved-at="{{analysis.cbc_approved_at.strftime("%Y-%m-%d")}}"
                  data-show-cbc-data-link>
                  Show
              </a>
              |
              <a href="{{ url_for('print_analysis', patient_id=analysis.patient_id, analysis_type='cbc', analysis_id=analysis.cbc_id) }}"
                  target="_blank"
                  data-edit-comment-link>
                  Print
              </a>
            </td>

          {% else %}
            <td>
              <span hidden
                    data-cbc-id="{{analysis.cbc_id}}"
                    data-cbc-wcb="{{analysis.cbc_wcb}}"
                    data-cbc-hgb="{{analysis.cbc_hgb}}"
                    data-cbc-mcv="{{analysis.cbc_mcv}}"
                    data-cbc-mch="{{analysis.cbc_mch}}"
                    data-cbc-comment="{{analysis.cbc_comment}}"
                    data-cbc-comment-doctor="{{analysis.cbc_comment_doctor}}"
                    data-cbc-approved
                    data-cbc-approved-at
                    data-analysis-data
              ></span>
              <a href="{{ url_for('medical_profile', patient_id=analysis.patient_id) }}">
                Med Profile
              </a>
              |
              <a href="#"
                  data-cbc-id="{{analysis.cbc_id}}"
                  data-cbc-wcb="{{analysis.cbc_wcb}}"
                  data-cbc-hgb="{{analysis.cbc_hgb}}"
                  data-cbc-mcv="{{analysis.cbc_mcv}}"
                  data-cbc-mch="{{analysis.cbc_mch}}"
                  data-cbc-comment="{{analysis.cbc_comment}}"
                  data-cbc-comment-doctor="{{analysis.cbc_comment_doctor}}"
                  data-cbc-approved-at
                  data-show-cbc-data-link>
                  Show
              </a>
              {% if current_user.role.name == 'doctor' %}
                |
                <a href="{{ url_for('approve_analysis', analysis_type='cbc', analysis_id=analysis.cbc_id) }}"
                   data-approve-cbc>
                  Approve
                </a>
              {% endif %}
            </td>
          {% endif %}
        </tr>
      {%- endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block page_js %}
  {% assets output='gen/analyzes.min.js', "js/analyzes.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
