{% extends 'layout.html' %}

{% block page_name %}Analyzes{% endblock %}

{% block body_header %}
  {% include 'analyzes_body_header.html' %}
{% endblock %}

{% block body_content %}
<div class="row">

  <div class="offset-2 col-6">
    <form class="" action="{{ url_for('get_analyzes_by_page', page=1) }}" method="GET">
      <div class="input-group ">
        <input type="text" name='str' class="form-control form-control-sm col-6" placeholder="Search by Patient Name or Personal ID..." value="{%- if request.args.get('str') %}{{ request.args.get('str') }}{% endif %}">

        <span class="input-group-btn">
          <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-search" aria-hidden="true">Search</span>
          </button>
        </span>
      </div>
    </form>
  </div>

  <div class="col-2">
    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-sm justify-content-end">
        {% if analyzes.has_prev %}
          <li class="page-item">
            <a class="page-link"
                href="{% if request.args.get("str") %}
                        {{ url_for('get_analyzes_by_page', page=analyzes.prev_num, str=request.args.get('str')) }}
                      {% else %}
                        {{ url_for('get_analyzes_by_page', page=analyzes.prev_num) }}
                      {% endif %}
                      "
                aria-label="Previous">
              Previous
            </a>
          </li>

        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>

        {% endif %}

        <li class="page-item active">
          <span class="page-link">
            {{ page }}
            <span class="sr-only">(current)</span>
          </span>
        </li>

        {% if analyzes.has_next %}
          <li class="page-item">
            <a class="page-link"
                href="{% if request.args.get("str") %}
                        {{ url_for('get_analyzes_by_page', page=analyzes.next_num, str=request.args.get('str')) }}
                      {% else %}
                        {{ url_for('get_analyzes_by_page', page=analyzes.next_num) }}
                      {% endif %}
                      "
                aria-label="Next">
                Next
            </a>
          </li>

        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>

        {% endif %}

      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="offset-1 col-10">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Patient</th>
          <th></th>
          <th>Approved By</th>
          <th>Approved At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      {% for analysis in analyzes.items %}
        <tr {% if not analysis.cbc_approved %} class="table-danger" {% endif %}>
          <td width="2%">{{ analysis.cbc_id }}</td>
          <td width="2%">CBC</td>

          <td width="15%">
            <a href="{{ url_for('get_patient_personal_profile', patient_id=analysis.patient_id) }}">{{ analysis.patient_name.title() }}</a>
          </td>

          <td width="10%">
            {{ analysis.patient_personal_id }}
          </td>

          {% if analysis.cbc_approved %}
            <td width="10%">{{ analysis.cbc_comment_doctor.title() }}</td>
          {% else %}
            <td width="10%"></td>
          {% endif %}

          {% if analysis.cbc_approved %}
            <td width="10%">{{ analysis.cbc_approved_at.strftime("%Y-%m-%d") }}</td>
          {% else %}
            <td width="10%"></td>
          {% endif %}

          <td width="25%">
            <a href="{{ url_for('medical_profile', patient_id=analysis.patient_id) }}">
              Medical Profile
            </a>
            |
            <a href="#"
                data-cbc-id="{{analysis.cbc_id}}"
                data-cbc-wcb="{{analysis.cbc_wcb}}"
                data-cbc-hgb="{{analysis.cbc_hgb}}"
                data-cbc-mcv="{{analysis.cbc_mcv}}"
                data-cbc-mch="{{analysis.cbc_mch}}"
                data-cbc-comment="{{analysis.cbc_comment}}"
                data-cbc-comment-doctor="{{analysis.cbc_comment_doctor}}"
                {% if analysis.cbc_approved %}
                  data-cbc-approved=true

                {% else %}
                  data-cbc-approved=flase
                {% endif %}

                data-show-data-link>
                Analysis Data
            </a>
            |
            <a href="{{ url_for('get_analysis_as_pdf', patient_id=analysis.patient_id, analysis_type='cbc', analysis_id=analysis.cbc_id) }}"
                target="_blank"
                data-edit-comment-link>
                PDF
            </a>
          </td>
        </tr>
      {%- endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block page_js %}
  {% assets output='gen/analyzes.min.js', "js/analyzes.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
