{% extends 'layout.html' %}

{% block page_name %}Analysis Profile{% endblock %}


{% block add_analysis_dropdown %}
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add Analysis
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#cbcModal">CBC Analysis</a>
    </div>
  </div>
{% endblock %}


{% block body %}

<div id="above-container"></div>
<div id="search-container" class="container-fluid">
  <div class="row">
    <p id="patient-profile-label" class="offset-3 col-6 text-center">
      Analysis Profile
    </p>
  </div>

  {% include 'alert.html' %}
  <hr>

  <div class="row justify-content-around">

    <!-- Patient Details -->
    <div class="col-4">

      <div class="row justify-content-center">
        <!-- <div class="col-6">
          patient_form.name.data
          <strong id="patient_name" ></strong>
        </div> -->

        <div class="col-4">
          <a href="{{url_for('edit_patient_profile', personal_id=patient_form.personal_id.data)}}" class="btn btn-outline-primary">Edit Profile</a>
        </div>
        <div class="col-4">
          <a href="{{url_for('edit_patient_profile', personal_id=patient_form.personal_id.data)}}" class="btn btn-outline-danger">Delete Profile</a>
        </div>
      </div>

      <div class="row">
        <hr class="col">
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table">
            <tbody>
              {% for field in patient_form %}
              <tr>
                <th scope="row">{{ field.label.text }}</th>
                <td>{{ field.data }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>


    <!-- Patient Analysis -->
    <div id="analyzes_container" class="col-6">
      <div id="patient_analyzes_list" class="list-group ">
        <div id="accordion" role="tablist" aria-multiselectable="true">

          {% for item in [1, 2, 3, 4, 5] %}
          <div class="card">
            <div class="card-header" role="tab" id="headingFour">
              <a href="#collapseFour" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseFour" class="list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <!-- "analysis_type": "CBC Analysis" -->
                  <h6 class="mb-1">CBC Analysis</h6>
                  <!-- "created_at": "2017-05-29" -->
                  <small>2017-05-29</small>
                </div>
                <!-- "comment": "Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit." -->
                <p class="mb-1">Comment: Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small class="text-muted">Approved by Dr.Zizo.</small>
              </a>
            </div>

            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="card-block">
                <div class="row">
                  <div class="container">
                    <div class="row">
                      <div class="col align-self-center text-center">
                        <a href="#">Edit</a> | <a href="#">Delete</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th>Item</th>
                          <th>Value</th>
                          <th>Normal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">WBC</th>
                          <!-- "WBC": "2.19" -->
                          <td>2.19</td>
                          <td>3.70 - 10.10</td>
                        </tr>
                        <tr>
                          <th scope="row">HGB</th>
                          <!-- "HGB": "12.9" -->
                          <td>12.9</td>
                          <td>12.9 - 15.9</td>
                        </tr>
                        <tr>
                          <th scope="row">MCV</th>
                          <!-- "MCV": "82.2" -->
                          <td>82.2</td>
                          <td>81.1 - 96.0</td>
                        </tr>
                        <tr>
                          <th scope="row">MCH</th>
                          <!-- "MCH": "27.3" -->
                          <td>27.3</td>
                          <td>27.0 - 31.2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>

    </div>

  </div>


  <!-- CBC Modal -->
  <div class="row">
      <div class="modal fade" id="cbcModal" tabindex="-1" role="dialog" aria-labelledby="cbcModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cbcModalTitle">Add CBC Analysis</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">

                <form id="add_cbc_analysis" action="{{ url_for('patient_analyzes', personal_id=patient_form.personal_id) }}" method="POST">

                  {% for field in form %}
                    {% if field.label.text == 'Comment' %}
                      <div class="form-group row">
                        {{ field.label(class_="col-12 col-form-label text-center") }}
                        <div class="offset-1 col-10">
                          {{ field(class_="form-control") }}
                        </div>
                      </div>

                    {% else %}
                    <div class="form-group row">
                      {{ field.label(class_="offset-2 col-2 col-form-label") }}
                      <div class="col-6">
                        {{ field(class_="form-control") }}
                      </div>
                    </div>

                    {% endif %}
                  {% endfor %}
                </form>

            </div>
            <div class="modal-footer">
              <button type="button" name="cancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button id="add_button" type="submit" name="add" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
{% endblock %}
