{% extends 'layout.html' %}


{% block name_page %}
  {{ edit_account_form.firstname.data.title() }}{{ edit_account_form.lastname.data.title() }}
{% endblock %}

{% block body_header %}
  {% include 'alert.html' %}

  <div class="row">
    <p id="search-label" class="offset-3 col-6 text-center">
      Edit Account Settings ( Role: {{ current_user.get_role_desc() }} )
    </p>
  </div>
{% endblock %}

{% block body_content %}
  <div class="row justify-content-center">
    <div class="col-6">
      <form class="" action="{{ url_for('edit_account_settings') }}" method="POST">
        {% for field in edit_account_form %}
          <div class="form-group row">
            {{ field.label(class="col-3") }}
            <div class="col-5">
              {{ field }}
            </div>
          </div>
        {% endfor %}

        <div class="form-group row">
          <div class="col-4">
            <button type="submit" name="update_profile" class="btn btn-outline-primary btn-block" value='update_profile'>Update</button>
          </div>
          <div class="col-4">

            <button type="submit" name="cancel" class="btn btn-outline-info btn-block" value='cancel'>Cancel</button>
          </div>
        </div>


      </form>
    </div>

    <div class="col-3">
      <form class="" action="{{ url_for('edit_account_settings') }}" method="POST">
        {% for field in change_account_password_form %}
          <div class="form-group">
            {{ field }}
          </div>
        {% endfor %}

        <div class="form-group">
          <!-- <div class="offset-2 col-8"> -->
            <button type="submit" name="change_password" class="btn btn-outline-primary btn-block" value="change_password">Change Password</button>
          <!-- </div> -->
        </div>
      </form>
    </div>
  </div>
{% endblock %}
