{% extends "layout.html" %}


{% block page_name %}Home{% endblock %}


{% block body %}
<div id="above-container"></div>

{% include 'alert.html' %}

<div id="search-container">
  <div class="row">
    <p id="search-label" class="offset-3 col-6 text-center">
      Search for Patient <strong>|</strong> <a href="{{ url_for('new_patient') }}">Add New Patient</a>
    </p>
  </div>

  <div class="row">
    <div class="offset-3 col-6">
       <!-- action='' method='' -->
      <!-- <form role="search"> -->
        <div class="input-group">
          <input id='search-box' type="text" class="form-control" placeholder="Search by Personal ID...">

          <span class="input-group-btn">
            <button id="search-button" class="btn btn-default">
              <span class="glyphicon glyphicon-search" aria-hidden="true">Search</span>
            </button>
          </span>
        </div>
      <!-- </form> -->
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="offset-3 col-6">
      <ul id="search-result" class="list-group">
      </ul>
    </div>

    <br>
  </div>

</div>
{% endblock %}
