{% extends 'layout.html' %}

{% block page_name %}Analysis Profile{% endblock %}


{% block add_analysis_dropdown %}
{% endblock %}

{% block body_header %}
  <div id="cbc_success" class='row'></div>

  {% include 'alert.html' %}

  <div class="row">
    <p id="patient-profile-label" class="offset-3 col-6 text-center">
      Medical Profile
    </p>
  </div>
{% endblock %}

{% block body_content %}
<div class="container">
  <div class="row justify-content-around">

    <!-- Patient Details -->
    <div class="col-4">

      <div class="row justify-content-center">
        <strong>Patient Personal Details</strong>
      </div>

      <div class="row">
        <hr class="col">
      </div>

      <div class="row">
        <div class="col-12">
          <table id="patient_personal_details" data-patient-id="{{ patient_id }}" class="table">
            <tbody>
              {% for field in edit_patient_form %}
              <tr>
                <th scope="row">{{ field.label.text }}</th>
                <td id="patient_{{field.label.text.lower()}}">{{ field.data }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-12">
          <button id="back" type="button" name="back" value="back" class="btn btn-info btn-block" role="button">Back</button>
        </div>
      </div>

    </div>


    <!-- Patient Analysis -->
    <div id="analyzes_container" class="col-6">
      <div class="row justify-content-center">
        <strong>Patient Analyzes</strong>
        {% if current_user.get_role_name() == "registration_officer" %}
          <div class="btn-group">
            <button type="button" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add
            </button>
            <div class="dropdown-menu">
              <a id="add_cbc_link" class="dropdown-item" href="#" data-toggle="modal" data-target="#add_cbc_modal">CBC</a>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="row">
        <hr class="col">
      </div>

      <div id="patient_analyzes_list" class="list-group ">
        <div id="accordion" role="tablist" aria-multiselectable="true">

        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}



{% block page_js %}
  {% if current_user.get_role_name() == "registration_officer" %}
    {% assets output='gen/patient_medical_profile.min.js', "js/patient_medical_profile_officer.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}



  {% elif current_user.get_role_name() == "investigation_doctor" %}
    {% assets output='gen/patient_medical_profile.min.js', "js/patient_medical_profile_doctor.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

  {% else %}
    {% assets output='gen/patient_medical_profile.min.js', "js/patient_medical_profile.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

  {% endif %}
{% endblock %}
