{% extends 'layout.html' %}

{% block page_name %}Patient Profile{% endblock %}

{% block body %}

<div id="above-container"></div>
<div id="search-container" class="container">
  <div class="row">
    <p id="search-label" class="offset-3 col-6 text-center">
      Patient Profile
    </p>
  </div>

  {% include 'alert.html' %}
  <hr>

  <div class="row">
    <div class="offset-3 col-6">

      <form action="{{ url_for('edit_patient_profile', personal_id=form.personal_id.data) }}" method="POST">

        {% for field in form %}
          <div class="form-group row">
            {{ field.label(class_="col-2") }}
            <div class="col-8">
              {{ field(class_="form-control") }}
            </div>
          </div>
        {% endfor %}

        <div class="form-group row">
          <div class="offset-2 col-4">
              <a href="{{ url_for('patient_analyzes', personal_id=form.personal_id.data) }}" name="cancel" class="btn btn-outline-danger btn-block">Cancel</a>
          </div>
          <div class="col-4">
              <button type="submit" name="button" class="btn btn-outline-primary btn-block">Update Profile</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
