{% extends "layout.html" %}

{% block page_name %}Register{% endblock %}

{% block body %}
<div id="above-container"></div>
<div class="container">
  <div class="row">
    <p id="search-label" class="offset-3 col-6 text-center">
      <a href="/login">User Login</a> <strong>|</strong> Register User
    </p>
  </div>

  {% include 'alert.html' %}

  <form action="{{ url_for('register') }}" method="post">
    <!-- {{ form.csrf_token }} -->

    <div class="form-group row">
      <div class="offset-4 col-4">
        {{ form.user_firstname(class_="form-control", placeholder="Firstname") }}
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-4 col-4">
        {{ form.user_lastname(class_="form-control", placeholder="Lastname") }}
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-4 col-4">
        {{ form.user_username(class_="form-control", placeholder="Username") }}
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-4 col-4">
        {{ form.user_password(class_="form-control", placeholder="Password") }}
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-4 col-4">
        {{ form.user_password_confirm(class_="form-control", placeholder="Password Confirmation") }}
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-4 col-4">
        <button type="submit" name="button" class="btn btn-primary btn-block">Register</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
